/*   Font variables   */
$font-post-fix: -apple-system, blinkmacsystemfont, segoe ui, roboto, oxygen-sans, ubuntu, cantarell, helvetica neue, sans-serif;
$f-montserrat: 'Montserrat', $font-post-fix;
$f-roboto: 'Roboto', $font-post-fix;

/* ui-step */
$step: 1;

/*   Color variables   */
$c-white: #FFF;
$c-black: #1D1D1D;
$c-gray: #EBEBF2;
$c-red: #FF3B30;
$c-green: #39E8A5;
$c-primary: #05AC6A;
$c-secondary: #1C274C;
$c-tertiary: #C5C6C5;


/*  BREAKPOINTS */
$br-mobile: 360;
$br-tablet: 768;
$br-desktop: 1024;
$br-desktop-max: 1920;

/* TRANSITIONS */
$tt-base: .15s;
$tt-rotate: 10s;

/* ui-index */
$ui-index-1: 1; // Для наползающих элементов в общем потоке
$ui-index-2: 2; // Для наползающих элементов в общем потоке
$ui-index-3: 3; // Для масок
$ui-index-4: 4; // Для садбаров
$ui-index-5: 5; // Для модалок
$ui-index-6: 7000; // Для элементов, перекрывающих все
